[access "refs/*"]
    create = group Project Bootstrappers
    create = group Release Managers
    forgeAuthor = group Registered Users
    forgeCommitter = group Project Bootstrappers
    push = +force group Project Bootstrappers
    pushMerge = group Project Bootstrappers
    pushTag = group Continuous Integration Tools
    pushTag = group Project Bootstrappers
    pushTag = group Release Managers
    read = group Anonymous Users
[access "refs/for/refs/*"]
    push = group Registered Users
[access "refs/for/refs/zuul/*"]
    pushMerge = group Continuous Integration Tools
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group Project Bootstrappers
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -2..+2 group Continuous Integration Tools
    label-Verified = -2..+2 group Project Bootstrappers
    label-Verified = -1..+1 group External Testing Tools
    label-Workflow = -1..+0 group Change Owner
    label-Workflow = -1..+1 group Project Bootstrappers
    submit = group Continuous Integration Tools
    submit = group Project Bootstrappers
[access "refs/heads/milestone-proposed"]
    exclusiveGroupPermissions = label-Code-Review label-Workflow
    label-Code-Review = -2..+2 group Project Bootstrappers
    label-Code-Review = -2..+2 group Release Managers
    label-Code-Review = -1..+1 group Registered Users
    label-Workflow = +0..+1 group Project Bootstrappers
    label-Workflow = +0..+1 group Release Managers
    owner = group Release Managers
[access "refs/heads/stable/*"]
    exclusiveGroupPermissions = label-Code-Review label-Workflow
    forgeAuthor = group Stable Maintainers
    forgeCommitter = group Stable Maintainers
    label-Code-Review = -2..+2 group Project Bootstrappers
    label-Code-Review = -2..+2 group Stable Maintainers
    label-Code-Review = -1..+1 group Registered Users
    label-Workflow = +0..+1 group Project Bootstrappers
    label-Workflow = +0..+1 group Stable Maintainers
[access "refs/meta/config"]
    push = group Administrators
    read = group Project Owners
[access "refs/meta/openstack/*"]
    create = group Continuous Integration Tools
    push = group Continuous Integration Tools
    read = group Continuous Integration Tools
[access "refs/zuul/*"]
    create = group Continuous Integration Tools
    push = +force group Continuous Integration Tools
    pushMerge = group Continuous Integration Tools
[accounts]
    sameGroupVisibility = deny group CLA Accepted - ICLA
[capability]
    accessDatabase = group Administrators
    administrateServer = group Administrators
    createProject = group Project Bootstrappers
    priority = batch group Non-Interactive Users
    runAs = group Project Bootstrappers
    streamEvents = group Registered Users
[contributor-agreement "ICLA"]
    accepted = group CLA Accepted - ICLA
    agreementUrl = static/cla.html
    autoVerify = group CLA Accepted - ICLA
    description = OpenStack IndividualContributor License Agreement
[label "Code-Review"]
    function = MaxWithBlock
    abbreviation = R
    copyMinScore = true
    copyAllScoresOnTrivialRebase = true
    copyAllScoresIfNoCodeChange = true
    value = -2 Do not merge
    value = -1 This patch needs further work before it can be merged
    value = 0 No score
    value = +1 Looks good to me, but someone else must approve
    value = +2 Looks good to me (core reviewer)
[label "Verified"]
    function = MaxWithBlock
    value = -2 Fails
    value = -1 Doesn't seem to work
    value = 0 No score
    value = +1 Works for me
    value = +2 Verified
[label "Workflow"]
    function = MaxWithBlock
    value = -1 Work in progress
    value = 0 Ready for reviews
    value = +1 Approved
[project]
    description = Rights inherited by all other projects
