[access "refs/heads/*"]
        label-Approved = +0..+1 group forj-core
        label-Code-Review = -2..+2 group forj-core
        push = group Administrators
[access "refs/tags/*"]
        create = group forj-core
        pushTag = group forj-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
