[access "refs/*"]
        owner = group Administrators
        create = group tutorials-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group tutorials-core
        label-Workflow = +0..+1 group tutorials-core
        workInProgress = group tutorials-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
